numpy
scipy
packaging
setuptools_rust
grpcio
grpcio-tools
numpy
protobuf
sounddevice
pyzmq
speechbrain
pyctcdecode
arpa
jiwer
transformers
pprintpp
wget
unidecode
git+https://github.com/NVIDIA/NeMo.git@main#egg=nemo_toolkit[asr]
pip install git+https://github.com/NVIDIA/NeMo.git@v1.9.0
torchaudio -f https://download.pytorch.org/whl/torch_stable.html
pyannote.audio
https://github.com/kpu/kenlm/archive/master.zip
